# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:  
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: setup graphviz
      uses: ts-graphviz/setup-graphviz@v1
      

    # Runs a single command using the runners shell
    - name: render the picture
      run: dot -Tjpg -o'./dark.jpg'
    
    - name: create a release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: ridedott/release-me-action@v2.2.64
      with:
        # Configures the list of assets to commit to the repository alongside the changelog.
        #commit-assets: # optional
        # Configures Semantic Release to run in dry-run mode.
        #dry-run: # optional, default is false
        # Bumps the package version and updates the repository package.json and package-lock.json or yarn-lock.yaml.
        #node-module: # optional, default is false
        # Configures the list of assets to attach to the release alongside the source code.
        release-assets: |
          ./dark.jpg

        # Configures the branches that Semantic Release will release to.
        #release-branches: # optional

